
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
    text-align: center;
}

canvas
{
    box-shadow: 12px 12px 12px grey;
    border-radius: 25px;
}

a
{
    width: 300px;
}
